@model Nop.Plugin.Widgets.OwlCarousel2.Models.PublicInfoViewModel

<link rel="stylesheet" href="~/Plugins/Widgets.OwlCarousel2/Content/owlcarousel2/assets/owl.carousel.css">
    
<script asp-exclude-from-bundle="true" src="~/Plugins/Widgets.OwlCarousel2/Content/owlcarousel2/owl.carousel.js" asp-location="Footer"></script>

<div class="block-slideshow block-slideshow--layout--full">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="block-slideshow__body">
                    <div class="owl-carousel">
                        @if (Model.SlideLg1Url != null)
                        {
                            <div class="block-slideshow__slide">
                                <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop"
                                style="background-image: url('@Url.Content(Model.SlideLg1Url)')"></div>
                                @if (Model.SlideSm1Url != null)
                                {
                                    <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile"
                                style="background-image: url('@Url.Content(Model.SlideSm1Url)')"></div>
                                }
                                else
                                {
                                    <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile"
                                style="background-image: url('@Url.Content(Model.SlideLg1Url)')"></div>
                                }

                                <div class="block-slideshow__slide-content">
                                    @if (Model.Title1 != null)
                                    {
                                        <div class="block-slideshow__slide-title">@Html.Raw(Model.Title1)</div>
                                    }

                                    @if (Model.Description1 != null)
                                    {
                                        <div class="block-slideshow__slide-text">@Html.Raw(Model.Description1)</div>
                                    }

                                    @if (Model.Link1 != null)
                                    {
                                        <a href="@Html.DisplayFor(model => model.Link1)" class="block-slideshow__slide-button"><span
                                    class="btn btn-primary btn-lg">Shop Now</span></a>
                                    }

                                </div>
                            </div>
                        }
                        @if (Model.SlideLg2Url != null)
                        {
                            <div class="block-slideshow__slide">
                                <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop"
                                style="background-image: url('@Url.Content(Model.SlideLg2Url)')"></div>
                                @if (Model.SlideSm2Url != null)
                                {
                                    <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile"
                                style="background-image: url('@Url.Content(Model.SlideSm2Url)')"></div>
                                }
                                else
                                {
                                    <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile"
                                style="background-image: url('@Url.Content(Model.SlideLg2Url)')"></div>
                                }

                                <div class="block-slideshow__slide-content">
                                    @if (Model.Title2 != null)
                                    {
                                        <div class="block-slideshow__slide-title">@Html.Raw(Model.Title2)</div>
                                    }

                                    @if (Model.Description2 != null)
                                    {
                                        <div class="block-slideshow__slide-text">@Html.Raw(Model.Description2)</div>
                                    }

                                    @if (Model.Link2 != null)
                                    {
                                        <a href="@Html.DisplayFor(model => model.Link2)" class="block-slideshow__slide-button"><span
                                    class="btn btn-primary btn-lg">Shop Now</span></a>
                                    }

                                </div>
                            </div>
                        }
                        @if (Model.SlideLg3Url != null)
                        {
                            <div class="block-slideshow__slide">
                                <div class="block-slideshow__slide-image block-slideshow__slide-image--desktop"
                                style="background-image: url('@Url.Content(Model.SlideLg3Url)')"></div>
                                @if (Model.SlideSm3Url != null)
                                {
                                    <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile"
                                style="background-image: url('@Url.Content(Model.SlideSm3Url)')"></div>
                                }
                                else
                                {
                                    <div class="block-slideshow__slide-image block-slideshow__slide-image--mobile"
                                style="background-image: url('@Url.Content(Model.SlideLg3Url)')"></div>
                                }

                                <div class="block-slideshow__slide-content">
                                    @if (Model.Title3 != null)
                                    {
                                        <div class="block-slideshow__slide-title">@Html.Raw(Model.Title3)</div>
                                    }

                                    @if (Model.Description3 != null)
                                    {
                                        <div class="block-slideshow__slide-text">@Html.Raw(Model.Description3)</div>
                                    }

                                    @if (Model.Link3 != null)
                                    {
                                        <a href="@Html.DisplayFor(model => model.Link3)" class="block-slideshow__slide-button"><span
                                    class="btn btn-primary btn-lg">Shop Now</span></a>
                                    }

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script asp-location="Footer">
    $(window).on('load', function () {
     $('.block-slideshow .owl-carousel').owlCarousel({
            items: 1,
            nav: false,
            dots: true,
            loop: true,
            autoplay:true,
            autoplayTimeout:8000,
            autoplayHoverPause:true
        });
    });
</script>